global_defs {
    router_id haproxy
    vrrp_skip_check_adv_addr
    vrrp_garp_interval 0
    vrrp_gna_interval 0
    enable_script_security
    script_user root
}
vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 2
    weight 2
    timeout 2
    fall 2
    rise 2
}
vrrp_instance LB1 {
    state MASTER
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority 101
    advert_int 1
    accept
    garp_master_refresh 5
    garp_master_refresh_repeat 1
    authentication {
        auth_type PASS
        auth_pass S3cR3T
    }
    unicast_src_ip {{ hostvars['master']['ansible_host'] }}
    unicast_peer {
        {{ hostvars['slave']['ansible_host'] }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}/24 dev {{ ansible_default_ipv4.interface }}
    }
    track_script {
        chk_haproxy
    }
}
